.register-container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-white);
    color: var(--primary-text);
    margin-top: 50px;

    .register-inside-container {
        background-color: var(--primary-color);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 10px 2px var(--primary-shadow);

        h2 {
            text-align: center;
            font-size: 80px;
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 5px;

        label {
            margin-bottom: 5px;
            font-size: 20px;
        }

        input {
            padding: 5px;
            font-size: 13px;
            border: none;
            border-radius: 5px;
            padding-right: 40px;
        }

        .error {
            background: var(--primary-red);
            border-radius: 6px;
            color: var(--primary-white);
            font-size: 0.75rem;
            margin-top: 0.25rem;
            padding: 0.35rem 0.5rem;
        }
    }


    .password-group {
        position: relative;

        i {
            position: absolute;
            right: 10px;
            top:41px;
            color: var(--primary-blue);
            cursor: help;
            font-size: 14px;
            padding: 4px;
        }
    }

    .bottom-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        .register-link {
            font-size: 16px;
            color: var(--primary-white);

            button {
                background: none;
                border: none;
                color: var(--primary-white);
                text-decoration: underline;
                cursor: pointer;
                font-size: 16px;
                font-weight: bolder;
                letter-spacing: 1px;
            }
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 25px;
            background-color: var(--primary-text);
            color: var(--primary-color);
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: var(--secondary-white);
            }

            &:disabled {
                background-color: #bdbdbd;   
                color: #666;                
                cursor: not-allowed;
                opacity: 0.7;
              }
          
              &:disabled:hover {
                background-color: #bdbdbd;
              }
        }
    }
}
