<div class="calendar">
    <div class="calendar-header">
        <i class="fa-solid fa-backward" (click)="previousMonth()"></i>
        <h3>{{ year }} / {{ month + 1 }}</h3>
        <i class="fa-solid fa-forward" (click)="nextMonth()"></i>
    </div>
    <div class="days-list">
        <ul>
            <li> Monday </li>
            <li> Tuesday </li>
            <li> Wednesday </li>
            <li> Thursday </li>
            <li> Friday </li>
            <li> Saturday </li>
            <li> Sunday </li>
        </ul>
    </div>
    <div class="calendar-grid">
        @for (day of daysInMonth; track $index) {
            @if (day) {
                <div class="day" [ngClass]="{ 'closed' : isDayClosed(day) }">
                    <!-- <span class="date">{{ day.toISOString() | date:'fullDate' }} </span> -->
                    <span class="date"> {{ day.getDate() }}, {{ day | date:'MMMM'}} </span>

                    @if (isDayClosed(day)) {
                        <div class="closed-day">
                            <span> closed </span>
                        </div>
                    } @else {
                        <div class="open-day">
                            <ng-container *ngTemplateOutlet="calendarMode, context: {
                                mode,
                                day,
                            }"/>
                        </div>
                    }
                </div>
            } @else {
                <div class="day-empty"></div>
            }
        }
    </div>

    @if (mode === 'availability') {
        <button class="availability-send" (click)="sendAvailability()"> Send your availability </button>
    } @else if (mode === 'admin') {
        <div class="admin-buttons">
            <button class="cancel-button"> Cancel changes </button>
            <button class="save-button"> Save changes </button>
        </div>
    }
</div>

<ng-template #calendarMode let-mode="mode" let-day="day">
    @if (mode === 'availability') {
        <div class="availability-buttons">
            <button class="whole" [ngClass]="getAvailability(day)?.type === 'all-day' ? 'active' : 'inactive'" (click)="setAvailability(day, 'all-day')"> Whole day </button>
            <button class="custom" [ngClass]="getAvailability(day)?.type === 'custom' ? 'active' : 'inactive'" (click)="openCustomHoursModal(day, '7', '20')"> Custom hours </button>
            <button class="cannot" [ngClass]="getAvailability(day)?.type === 'cannot' ? 'active' : 'inactive'" (click)="setAvailability(day, 'cannot')"> Cannot work </button>
        </div>
    } @else if (mode === 'admin') {
        <div class="admin-buttons">
            <button> Change status </button>
        </div>
    } @else {

    }
</ng-template>
