.calendar {
    color: var(--primary-dark);
    display: flex;
    flex-direction: column;

    .calendar-header {
        background-color: var(--primary-color);
        color: var(--primary-text);
        padding: 1px 40px;
        border-radius: 20px 20px 0 0;
        text-align: center;
        font-size: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .days-list {
        width: 100%;
        ul {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 0;
            list-style-type: none;
            li {
                justify-self: center;
                background-color: var(--primary-color);
                padding: 10px 30px;
                border-radius: 10px;
                color: var(--primary-white);
            }
        }
    }

    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
        margin-top: 10px;

        .day {
            background-color: var(--secondary-white);
            height: 130px;
            width: 200px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            &-empty {
                @extend .day;
                opacity: 0.5;
                background-color: var(--primary-shadow);
            }

            .date {
                font-size: 20px;
                border-bottom: 1px solid var(--primary-color);
                border-radius: 10px 10px 0 0;
                padding: 5px;
                background-color: var(--primary-light-blue);
            }
        }

        .closed {
            background-color: var(--primary-shadow);
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: not-allowed;

            span {
                font-weight: 800;
            }
        }

        .open-day {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hours {
                font-weight: 800;
            }
        }
    }

    .availability-send {
        background-color: var(--primary-color);
        padding: 10px;
        color: var(--primary-text);
        border: none;
        border-radius: 0 0 10px 10px;
        margin-top: 10px;
        font-size: 30px;

        &:hover {
            cursor: pointer;
            background-color: var(--primary-hover-bg);
        }
    }

    .admin-buttons {
        display: flex;
    }
}

.availability-buttons {
    display: flex;
    flex-direction: column;

    button {
        width: 180px;
        height: 100%;

        border: 1px solid #ccc;
        border-radius: 6px;
        background: #f4f4f4;
        cursor: pointer;
        transition: all 0.15s ease;
        color: var(--secondary-text);

    }

    button:hover {
        background: #eaeaea;
    }

    button.active {
        color: white;
        font-weight: bold;
        background-color: var(--primary-color);
    }

    button.inactive {
        opacity: 80%;
    }

    .whole {
        background-color: var(--primary-green);
    }

    .custom {
        background-color: var(--primary-blue);
    }

    .cannot {
        background-color: var(--primary-red);
    }

}
