.modal-container {
    padding: 1.5rem;
    background-color: var(--primary-white);
    border-radius: 0 0 8px 8px;
    color: var(--secondary-text);

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .field {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            label {
                font-size: 0.9rem;
                font-weight: 500;
                color: var(--secondary-text);
            }

            input {
                padding: 0.8rem;
                border: 2px solid var(--secondary-white);
                border-radius: 6px;
                font-size: 1rem;
                background-color: var(--primary-white);
                color: var(--secondary-text);
                transition: all 0.2s ease;

                &:focus {
                    outline: none;
                    border-color: var(--primary-color);
                    box-shadow: 0 0 0 3px rgba(161, 31, 74, 0.1);
                }
            }
        }

        .error {
            color: var(--primary-red);
            font-size: 0.8rem;
            margin-top: -0.3rem;
        }

        .buttons {
            display: flex;
            justify-content: flex-start;
            gap: 1rem;

            button {
                padding: 0.8rem 1.5rem;
                border: none;
                border-radius: 6px;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.2s ease;

                &[type="submit"] {
                    background-color: var(--primary-color);
                    color: var(--primary-text);

                    &:hover {
                        background-color: var(--primary-hover-bg);
                    }

                    &:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }

                &[type="button"] {
                    background-color: var(--secondary-background);
                    color: var(--secondary-text);

                    &:hover {
                        background-color: var(--secondary-white);
                    }
                }
            }
        }
    }
}

::ng-deep .dark {
    .modal-container {
        background-color: var(--primary-dark);

        label {
            color: var(--primary-white);
        }

        input {
            background-color: var(--secondary-background);
            border-color: var(--secondary-white);
            color: var(--primary-white);

            &:focus {
                border-color: var(--primary-color);
            }
        }

        .error {
            color: var(--primary-red);
        }
    }
}
