<app-modal-header title="Create New Organization"/>

<div class="organization-creation-modal-container">
    <div class="form-group">
        <label for="organizationName">Organization Name:</label>
        <input type="text" id="organizationName" name="organizationName" [(ngModel)]="organizationName" />
    </div>
    <div class="form-actions">
        <button type="submit" [disabled]="!organizationName" (click)="save()">Create</button>
        <button type="button" (click)="close()">Cancel</button>
    </div>
</div>
