.organizations-page-container {
    margin-top: 80px;
    padding: 20px;
    color: var(--secondary-text);
    min-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .organization-card {
        min-width: 500px;
        max-width: 100%;
        background-color: var(--primary-color);
        padding: 5px 20px 20px 20px;
        border-radius: 20px;

        .organization-card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--secondary-white);
            color: var(--primary-white);
            margin-bottom: 20px;
            padding: 0 15px;
            border-radius: 20px;

            button {
                height: 50px;
                border-radius: 10px;
                border: none;
                background-color: var(--primary-green);
                color: var(--primary-text);
                cursor: pointer;
            }
        }

        .organization-card-body {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .create-organization-button {
        margin-right: 20px;
        font-size: 18px;
        background-color: var(--primary-color);
        color: var(--primary-text);
        margin-top: 20px;
    }

    .organizations-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-text);
    }
}

::ng-deep {
    .dark {
        .organizations-page-container {
            color: var(--primary-text);
        }
    }
}