.login-container {
    min-height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text);

    .login-inside-container {
        background-color: var(--primary-color);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 10px 2px var(--primary-shadow);

        h2 {
            text-align: center;
            font-size: 80px;
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-bottom: 15px;

        label {
            margin-bottom: 5px;
            font-size: 20px;
        }

        input {
            padding: 10px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
        }
    }

    .bottom-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        .register-link {
            font-size: 16px;
            color: var(--primary-white);

            button {
                border: none;
                color: var(--primary-white);
                text-decoration: underline;
                cursor: pointer;
                font-size: 16px;
                font-weight: bolder;
                letter-spacing: 1px;
            }
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 25px;
            background-color: var(--primary-text);
            color: var(--primary-color);
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: var(--secondary-white);
            }
        }
    }
}
