<div class="nav-bar-container">
    <a routerLink="{{ userAuthenticated() ? 'dashboard' : 'landing'}}"><button class="logo"><i class="fa-regular fa-calendar"></i></button></a>
    @if (userAuthenticated()) {
        <div class="nav-bar-buttons">
            <a routerLink="/dashboard"><button [ngClass]="{ 'active-button': route() === 'dashboard' }">
                Dashboard
            </button></a>
            <a routerLink="/schedules"><button [ngClass]="{ 'active-button': route() === 'schedules' }">
                 Schedules
            </button></a>
            <a routerLink="/organizations"><button [ngClass]="{ 'active-button': route() === 'organizations' }">
                Organizations
            </button></a>
            <!-- <button> additional/wip </button> -->
        </div>
        <div>
            <!-- TEMP OFF -->
            <!-- <button class="dark-mode-button" (click)="toggleDarkMode()">
                @if (isDarkMode()) {
                    <i class="fa-regular fa-moon"></i>
                } @else {
                    <i class="fa-regular fa-sun"></i>
                }
            </button> -->
            <button class="logout-button">Logout</button>
        </div>
    } @else {
        <div>
            <a routerLink="/register"><button class="sign-in-button">Sign in!</button></a>
            <a routerLink="/login"><button class="sign-up-button">Sign up!</button></a>
        </div>
    }
</div>
