@use 'colors.scss';

@font-face {
    font-family: Inter;
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: --var(--primary-white);
    font-family: 'Inter', sans-serif;
}

// REUSABLE STYLES

.divider {
    height: 1px;
    background-color: var(--secondary-white);
    margin: 10px 0;
    list-style-type: none;
}
