@font-face {
    font-family: Inter;
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

:root {
    --primary-blue: #576ca8;

    --primary-dark: #1e1e1e;

    --primary-white: #ffffff;
    --secondary-white: #d9d9d9;
}

body {
    margin: 0;
    padding: 0;
    background-color: --var(--primary-white);
    font-family: 'Inter', sans-serif;
}

// REUSABLE STYLES

.divider {
    height: 1px;
    background-color: var(--secondary-white);
    margin: 10px 0;
    list-style-type: none;
}
