<div class="user-card-container">
    <div class="user-details">
        <h3 class="name">
            {{ user()?.first_name }}
            <span class="last-name">{{ user()?.last_name }}</span>
        </h3>
            <div class="email">{{ user()?.email }}</div>
        </div>

        <div class="user-actions">
            @if (isUserAdmin && isNotCurrentUser(user()!)) {
                <button type="button" class="btn remove-btn" aria-label="Remove user" (click)="removeUser(user()!)">
                    Remove
                </button>
            }
    </div>
</div>
